@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    The Kaluga bracnh of Moscow State Technical University named after N. Bauman<br />
    Kaluga, Bazhenova st. 2<br />
    <abbr title="Phone">P:</abbr>
    127.0.0.1
</address>

<address>
    <strong>Email:</strong> <a href="mailto:contact@simpleblog.com">contact@simpleblog.com</a><br />
    <strong>Author:</strong> <a>Alidar Asvarov</a>
</address>
